Repository redhat-openshift-ecosystem/community-operators-pipeline-preprod, pull requests merged in 2023-12, with the labels that each got.

#153 operator semver-strategy (0.0.102)
  operators/semver-strategy/0.0.102/manifests/semver-strategy-controller-manager-metrics-service_v1_service.yaml
  operators/semver-strategy/0.0.102/manifests/semver-strategy-manager-config_v1_configmap.yaml
  operators/semver-strategy/0.0.102/manifests/semver-strategy-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/semver-strategy/0.0.102/manifests/semver-strategy.clusterserviceversion.yaml
  operators/semver-strategy/0.0.102/manifests/tools.opdev.io_demoresources.yaml
  operators/semver-strategy/0.0.102/metadata/annotations.yaml
  operators/semver-strategy/0.0.102/tests/scorecard/config.yaml
  operators/semver-strategy/ci.yaml
Labels: community-hosted-pipeline/passed

#154 operator semver-strategy (0.0.103)
  operators/semver-strategy/0.0.103/manifests/semver-strategy-controller-manager-metrics-service_v1_service.yaml
  operators/semver-strategy/0.0.103/manifests/semver-strategy-manager-config_v1_configmap.yaml
  operators/semver-strategy/0.0.103/manifests/semver-strategy-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/semver-strategy/0.0.103/manifests/semver-strategy.clusterserviceversion.yaml
  operators/semver-strategy/0.0.103/manifests/tools.opdev.io_demoresources.yaml
  operators/semver-strategy/0.0.103/metadata/annotations.yaml
  operators/semver-strategy/0.0.103/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#152 operator replaces-strategy (0.0.103)
  operators/replaces-strategy/0.0.103/manifests/operator-trigger-controller-manager-metrics-service_v1_service.yaml
  operators/replaces-strategy/0.0.103/manifests/operator-trigger-manager-config_v1_configmap.yaml
  operators/replaces-strategy/0.0.103/manifests/operator-trigger-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/replaces-strategy/0.0.103/manifests/operator-trigger.clusterserviceversion.yaml
  operators/replaces-strategy/0.0.103/manifests/tools.opdev.io_demoresources.yaml
  operators/replaces-strategy/0.0.103/metadata/annotations.yaml
  operators/replaces-strategy/0.0.103/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#155 operator mariadb-operator (0.21.0)
  operators/mariadb-operator/0.21.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.21.0/metadata/annotations.yaml
  operators/mariadb-operator/0.21.0/tests/scorecard/config.yaml
  operators/mariadb-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#156 operator node-healthcheck-operator (0.6.0)
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-node-remediation-console-plugin_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.6.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.6.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.6.0/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#158 operator external-contributor (0.0.103)
  operators/external-contributor/0.0.103/manifests/operator-trigger-controller-manager-metrics-service_v1_service.yaml
  operators/external-contributor/0.0.103/manifests/operator-trigger-manager-config_v1_configmap.yaml
  operators/external-contributor/0.0.103/manifests/operator-trigger-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/external-contributor/0.0.103/manifests/operator-trigger.clusterserviceversion.yaml
  operators/external-contributor/0.0.103/manifests/tools.opdev.io_demoresources.yaml
  operators/external-contributor/0.0.103/metadata/annotations.yaml
  operators/external-contributor/0.0.103/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#159 operator dell-csm-operator (0.1.0)
  operators/dell-csm-operator/0.1.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.1.0/manifests/dell-csm-operator.v0.1.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.1.0/metadata/annotations.yaml
  operators/dell-csm-operator/0.1.0/tests/scorecard/config.yaml
  operators/dell-csm-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#160 [ISV-4307] Acquiring ownership of new-operator for test case
  operators/new-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#161 operator new-operator (0.0.103)
  operators/new-operator/0.0.103/manifests/new-operator-controller-manager-metrics-service_v1_service.yaml
  operators/new-operator/0.0.103/manifests/new-operator-manager-config_v1_configmap.yaml
  operators/new-operator/0.0.103/manifests/new-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/new-operator/0.0.103/manifests/new-operator.clusterserviceversion.yaml
  operators/new-operator/0.0.103/manifests/tools.opdev.io_demoresources.yaml
  operators/new-operator/0.0.103/metadata/annotations.yaml
  operators/new-operator/0.0.103/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#164 operator dell-csm-operator (0.3.0)
  operators/dell-csm-operator/0.3.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.3.0/manifests/dell-csm-operator.v0.3.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.3.0/metadata/annotations.yaml
  operators/dell-csm-operator/0.3.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#166 Add haripate as a reviewer for the new-operator.
  operators/new-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#165 operator new-operator (0.0.104)
  operators/new-operator/0.0.104/manifests/new-operator-controller-manager-metrics-service_v1_service.yaml
  operators/new-operator/0.0.104/manifests/new-operator-manager-config_v1_configmap.yaml
  operators/new-operator/0.0.104/manifests/new-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/new-operator/0.0.104/manifests/new-operator.clusterserviceversion.yaml
  operators/new-operator/0.0.104/manifests/tools.opdev.io_demoresources.yaml
  operators/new-operator/0.0.104/metadata/annotations.yaml
  operators/new-operator/0.0.104/tests/scorecard/config.yaml
Labels: do-not-merge/hold, community-hosted-pipeline/started

#169 operator e2e-memcached-community-operator (0.0.1)
  operators/e2e-memcached-community-operator/0.0.1/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.1/manifests/e2e-memcached-community-operator-manager-config_v1_configmap.yaml
  operators/e2e-memcached-community-operator/0.0.1/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.1/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.1/manifests/tools.opdev.io_demoresources.yaml
  operators/e2e-memcached-community-operator/0.0.1/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.1/tests/scorecard/config.yaml
  operators/e2e-memcached-community-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#170 operator e2e-memcached-community-operator (0.0.2)
  operators/e2e-memcached-community-operator/0.0.2/Dockerfile
  operators/e2e-memcached-community-operator/0.0.2/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.2/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.2/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.2/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.2/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#172 operator e2e-memcached-community-operator (0.0.3)
  operators/e2e-memcached-community-operator/0.0.3/Dockerfile
  operators/e2e-memcached-community-operator/0.0.3/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.3/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.3/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.3/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.3/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.3/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#173 operator e2e-memcached-community-operator (0.0.4)
  operators/e2e-memcached-community-operator/0.0.4/Dockerfile
  operators/e2e-memcached-community-operator/0.0.4/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.4/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.4/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.4/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.4/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.4/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#174 operator e2e-memcached-community-operator (0.0.5)
  operators/e2e-memcached-community-operator/0.0.5/Dockerfile
  operators/e2e-memcached-community-operator/0.0.5/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.5/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.5/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.5/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.5/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.5/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#175 operator e2e-memcached-community-operator (0.0.6)
  operators/e2e-memcached-community-operator/0.0.6/Dockerfile
  operators/e2e-memcached-community-operator/0.0.6/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.6/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.6/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.6/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.6/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.6/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#176 operator e2e-memcached-community-operator (0.0.7)
  operators/e2e-memcached-community-operator/0.0.7/Dockerfile
  operators/e2e-memcached-community-operator/0.0.7/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.7/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.7/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.7/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.7/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.7/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#177 operator e2e-memcached-community-operator (0.0.8)
  operators/e2e-memcached-community-operator/0.0.8/Dockerfile
  operators/e2e-memcached-community-operator/0.0.8/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.8/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.8/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.8/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.8/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.8/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#178 operator e2e-memcached-community-operator (0.0.9)
  operators/e2e-memcached-community-operator/0.0.9/Dockerfile
  operators/e2e-memcached-community-operator/0.0.9/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.9/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.9/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.9/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.9/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.9/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#179 operator e2e-memcached-community-operator (0.0.10)
  operators/e2e-memcached-community-operator/0.0.10/Dockerfile
  operators/e2e-memcached-community-operator/0.0.10/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.10/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.10/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.10/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.10/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.10/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#180 operator e2e-memcached-community-operator (0.0.11)
  operators/e2e-memcached-community-operator/0.0.11/Dockerfile
  operators/e2e-memcached-community-operator/0.0.11/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.11/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.11/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.11/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.11/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.11/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#181 operator e2e-memcached-community-operator (0.0.12)
  operators/e2e-memcached-community-operator/0.0.12/Dockerfile
  operators/e2e-memcached-community-operator/0.0.12/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.12/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.12/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.12/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.12/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.12/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#182 operator e2e-memcached-community-operator (0.0.13)
  operators/e2e-memcached-community-operator/0.0.13/Dockerfile
  operators/e2e-memcached-community-operator/0.0.13/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.13/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.13/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.13/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.13/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.13/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#183 operator e2e-memcached-community-operator (0.0.14)
  operators/e2e-memcached-community-operator/0.0.14/Dockerfile
  operators/e2e-memcached-community-operator/0.0.14/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.14/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.14/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.14/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.14/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.14/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#184 operator e2e-memcached-community-operator (0.0.15)
  operators/e2e-memcached-community-operator/0.0.15/Dockerfile
  operators/e2e-memcached-community-operator/0.0.15/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.15/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.15/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.15/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.15/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.15/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#185 operator e2e-memcached-community-operator (0.0.16)
  operators/e2e-memcached-community-operator/0.0.16/Dockerfile
  operators/e2e-memcached-community-operator/0.0.16/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.16/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.16/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.16/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.16/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.16/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#186 operator e2e-memcached-community-operator (0.0.17)
  operators/e2e-memcached-community-operator/0.0.17/Dockerfile
  operators/e2e-memcached-community-operator/0.0.17/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.17/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.17/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.17/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.17/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.17/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#187 operator e2e-memcached-community-operator (0.0.18)
  operators/e2e-memcached-community-operator/0.0.18/Dockerfile
  operators/e2e-memcached-community-operator/0.0.18/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.18/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.18/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.18/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.18/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.18/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#188 operator e2e-memcached-community-operator (0.0.19)
  operators/e2e-memcached-community-operator/0.0.19/Dockerfile
  operators/e2e-memcached-community-operator/0.0.19/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.19/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.19/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.19/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.19/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.19/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#189 operator e2e-memcached-community-operator (0.0.20)
  operators/e2e-memcached-community-operator/0.0.20/Dockerfile
  operators/e2e-memcached-community-operator/0.0.20/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-community-operator/0.0.20/manifests/e2e-memcached-community-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-community-operator/0.0.20/manifests/e2e-memcached-community-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-community-operator/0.0.20/manifests/e2e-memcached-community-operator.clusterserviceversion.yaml
  operators/e2e-memcached-community-operator/0.0.20/metadata/annotations.yaml
  operators/e2e-memcached-community-operator/0.0.20/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started
