Repository redhat-openshift-ecosystem/community-operators-pipeline-preprod, pull requests merged in 2024-09, with the labels that each got.

#289 operator e2e-fbc (0.0.2)
  operators/e2e-fbc/0.0.2/Dockerfile
  operators/e2e-fbc/0.0.2/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-fbc/0.0.2/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-fbc/0.0.2/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-fbc/0.0.2/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-fbc/0.0.2/metadata/annotations.yaml
  operators/e2e-fbc/0.0.2/tests/scorecard/config.yaml
  operators/e2e-fbc/ci.yaml
Labels: operator-hosted-pipeline/started

#290 operator new-operator (0.0.107)
  operators/new-operator/0.0.107/manifests/new-operator-controller-manager-metrics-service_v1_service.yaml
  operators/new-operator/0.0.107/manifests/new-operator-manager-config_v1_configmap.yaml
  operators/new-operator/0.0.107/manifests/new-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/new-operator/0.0.107/manifests/new-operator.clusterserviceversion.yaml
  operators/new-operator/0.0.107/manifests/tools.opdev.io_demoresources.yaml
  operators/new-operator/0.0.107/metadata/annotations.yaml
  operators/new-operator/0.0.107/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/DeployableByOLM

#292 Catalog update [v4.13,v4.16,v4.15,v4.17,v4.12,v4.14]
  catalogs/v4.12/e2e-fbc/catalog.yaml
  catalogs/v4.13/e2e-fbc/catalog.yaml
  catalogs/v4.14/e2e-fbc/catalog.yaml
  catalogs/v4.15/e2e-fbc/catalog.yaml
  catalogs/v4.16/e2e-fbc/catalog.yaml
  catalogs/v4.17/e2e-fbc/catalog.yaml
  operators/e2e-fbc/Makefile
  operators/e2e-fbc/catalog-templates/v4.17.yaml
  operators/e2e-fbc/ci.yaml
Labels: operator-hosted-pipeline/started

#291 operator new-operator (0.0.108)
  operators/new-operator/0.0.108/manifests/new-operator-controller-manager-metrics-service_v1_service.yaml
  operators/new-operator/0.0.108/manifests/new-operator-manager-config_v1_configmap.yaml
  operators/new-operator/0.0.108/manifests/new-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/new-operator/0.0.108/manifests/new-operator.clusterserviceversion.yaml
  operators/new-operator/0.0.108/manifests/tools.opdev.io_demoresources.yaml
  operators/new-operator/0.0.108/metadata/annotations.yaml
  operators/new-operator/0.0.108/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/DeployableByOLM

#294 operator dell-csm-operator (0.3.2)
  operators/dell-csm-operator/0.3.2/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.3.2/manifests/dell-csm-operator.v0.3.2.clusterserviceversion.yaml
  operators/dell-csm-operator/0.3.2/metadata/annotations.yaml
  operators/dell-csm-operator/0.3.2/tests/scorecard/config.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/started, tests/skip/DeployableByOLM

#295 Catalog update [v4.15,v4.14,v4.16]
  catalogs/v4.14/dell-csm-operator/catalog.yaml
  catalogs/v4.15/dell-csm-operator/catalog.yaml
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/catalog-templates/v4.14.yaml
  operators/dell-csm-operator/catalog-templates/v4.15.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
  operators/dell-csm-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#296 operator e2e-fbc (0.0.3)
  operators/e2e-fbc/0.0.3/Dockerfile
  operators/e2e-fbc/0.0.3/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-fbc/0.0.3/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-fbc/0.0.3/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-fbc/0.0.3/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-fbc/0.0.3/metadata/annotations.yaml
  operators/e2e-fbc/0.0.3/tests/scorecard/config.yaml
  operators/e2e-fbc/ci.yaml
Labels: operator-hosted-pipeline/failed

#300 operator e2e-fbc (0.0.4)
  operators/e2e-fbc/0.0.4/Dockerfile
  operators/e2e-fbc/0.0.4/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-fbc/0.0.4/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-fbc/0.0.4/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-fbc/0.0.4/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-fbc/0.0.4/metadata/annotations.yaml
  operators/e2e-fbc/0.0.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
