Repository redhat-openshift-ecosystem/community-operators-pipeline-preprod, pull requests merged in 2024-06, with the labels that each got.

#230 Catalog update [v4.15]
  catalogs/v4.15/operator-e2e/catalog.json
Labels: community-hosted-pipeline/passed, operator-hosted-pipeline/started

#251 Catalog update [v4.16]
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
Labels: operator-hosted-pipeline/started

#253 Catalog update [v4.13,v4.14,v4.16,v4.15]
  catalogs/v4.13/dell-csm-operator/catalog.yaml
  catalogs/v4.14/dell-csm-operator/catalog.yaml
  catalogs/v4.15/dell-csm-operator/catalog.yaml
  catalogs/v4.16/dell-csm-operator/catalog.yaml
Labels: operator-hosted-pipeline/started

#255 Catalog update [v4.15,v4.16]
  catalogs/v4.15/dell-csm-operator/catalog.yaml
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/Makefile
  operators/dell-csm-operator/catalog-templates/v4.15.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
Labels: operator-hosted-pipeline/started

#256 Catalog update [v4.14]
  catalogs/v4.14/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/Makefile
Labels: operator-hosted-pipeline/started

#254 operator dell-csm-operator (0.1.0)
  operators/dell-csm-operator/0.1.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.1.0/manifests/dell-csm-operator.v0.1.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.1.0/metadata/annotations.yaml
  operators/dell-csm-operator/0.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#257 operator dell-csm-operator (0.1.1)
  operators/dell-csm-operator/0.1.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.1.1/manifests/dell-csm-operator.v0.1.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.1.1/metadata/annotations.yaml
  operators/dell-csm-operator/0.1.1/tests/scorecard/config.yaml
Labels: validation-failed, pipeline/trigger-hosted, operator-hosted-pipeline/failed, tests/skip/check_dangling_bundles
